.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "h"
    "l"
    "n"
    "g"
    "a"
    "m"
    "m"
    
}

img {
  width: 100px;
  padding-left:20px;
}

.header {
    grid-area: h;
    display: flex;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    color: navy;
    padding: 10px;
    
}

.logo {
  grid-area: l;
  width: 50px;
}

nav {
    
    grid-area: n;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: lightgrey;
    overflow: hidden;
    padding-right: 20px;
    word-spacing: 20%;
}

li {
    float: right;
}

li a{
    display: block;
    color: lightgrey;
    text-align: center;
}

  li a:hover {
    color: navy;
  }

.grid-container {
  grid-area: g;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: lightgrey;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: navy;
  font-size: 20px;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 5px;
}



 .about {
    grid-area: a;
    background-color: navy;
    color:white;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
     font-size: 1.5em;
     padding-left: 20%;
     padding-right: 20%;
     padding-top: 30px;
     padding-bottom: 10px;
}

.aboutme {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.music {
    grid-area: m;
    color:navy;
    font: sans-serif;
    font-size: 1.5em;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 20%;
     padding-right: 20%;
     padding-top: 30px;
     padding-bottom: 10px;
}
